@import "../dashboard/dashboard.component.scss";
.example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 
  