<mat-nav-list>
    <!-- side navebar for Building,Flat, Renter and dashboard -->
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="font-size: 20px; font-weight: bold;">Rent Managment</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/building">
      <mat-icon>home</mat-icon> Buildings
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/flat">
        <mat-icon>equalizer</mat-icon> Flat
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/renter">
        <mat-icon>perm_identity</mat-icon> Renter
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/rentpay">
        <mat-icon>payment</mat-icon> Rent Pay
      </a>
   
  </mat-nav-list>